<!-- views/success.ejs -->
<!doctype html>
<html>

<head>
  <title>Link shortener</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- load bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <style>
    body {
      padding-top: 70px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-primary  text-center"></span> Shorten link</h1>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <form action="/link_form" method="POST">
              <label>URL: </label>
              <input type="text" placeholder="Url" name="url"><br><br>
              <button>Shorten</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>